.tooltip-Q8Qb8b{color:var(--color-dark-primary);white-space:pre-wrap}.title-qpYgW3{margin-top:calc(-1*var(--size-4))}.imageContainer-cm3Y_o{min-height:120px;max-height:320px}.endcapContainer-h2D5mj{min-height:var(--size-20);min-width:var(--size-20)}.animate-EcT71w{transition:var(--animate-hover);position:relative}.hide-R_ZrJm{opacity:0;transform:translate(0)}.show-bB8i0L{opacity:1;transform:translate(0)}.fromLeft-ZFh9Fx{transform:translateX(calc(-1*var(--size-8)))}.fromRight-O8y24A{transform:translateX(var(--size-8))}.fromAbove-XaD6qa{transform:translateY(calc(-1*var(--size-8)))}.fromBelow-T9zppy{transform:translateY(var(--size-8))}.inlineContainer-WNjPTK{vertical-align:middle;display:inline-block}.container-ekDco7{align-items:center;display:flex}.container-ekDco7 svg{display:block}.popover-Egsxsb{background:var(--color-bg-elevated-primary);border-radius:var(--border-radius-md);box-shadow:var(--shadow-lg);border:var(--border-default);z-index:103;width:260px}
/*
     FILE ARCHIVED ON 13:46:34 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:32 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.525
  exclusion.robots: 0.014
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 65.274
  LoadShardBlock: 4114.859 (6)
  PetaboxLoader3.datanode: 4959.677 (8)
  load_resource: 8609.78 (2)
  PetaboxLoader3.resolve: 6746.112
*/