.image-gSnHYG,.icon-pLzgnZ{height:var(--size-40);width:var(--size-40)}.image-gSnHYG{object-fit:cover}.searchOptions-Y2hxE_ a{text-decoration:none}.row-YqulPz{max-width:calc(100% - var(--size-16))}@media (hover:hover){.row-YqulPz.active-GcpEyo .icon-pLzgnZ{background-color:var(--color-bg-tertiary)}}.highlight-ElgDnZ{color:var(--color-highlight-fg);background-color:var(--color-highlight-bg);border-radius:var(--size-2);margin:0 -1px;padding:0 1px;display:inline-block}.spinner-YyUUa4{right:var(--size-32);position:absolute;top:0;bottom:0}.inputStyle-hdsjhw{position:relative}.ribbon-pRoQmk{-ms-overflow-style:none;scrollbar-width:none;min-height:var(--size-96);overflow:auto}.ribbonResult-uYaV0j{width:var(--size-72);box-sizing:border-box}@media (hover:hover){.ribbonResult-uYaV0j:hover{background-color:var(--color-bg-secondary)}}.ribbonText-Hi7Ks1{max-width:var(--size-56)}.ribbonAvatar-UiZ9dj{align-self:center}.searchInput-tYjotu{border:0!important;padding:1px 2px!important}.searchInput-tYjotu:focus-visible{outline:0}
/*
     FILE ARCHIVED ON 13:11:18 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:16 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.715
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.011
  cdx.remote: 452.454
  LoadShardBlock: 1694.119 (6)
  PetaboxLoader3.datanode: 1640.85 (7)
  load_resource: 125.835
*/