.chrome-_LLvs8{display:contents}.chrome-_LLvs8>*{transition:var(--animate-hover);opacity:1}.chrome-_LLvs8.inactive-_Lk_xA>*{opacity:0}.modalImageButtonContainer-gaFoGh{z-index:1}.modalImageSidebar-WtdDRF{transition:var(--animate-hover);cursor:pointer;background-color:transparent;position:absolute;top:0;bottom:0}@media (hover:hover){.modalImageSidebar-WtdDRF:hover{background-color:rgba(0,0,0,.1)}}.modalBody-X2tteN{justify-content:center;max-width:100%;height:auto;padding:16px;display:flex}.imgContainer-_cFpip{justify-content:center;align-items:center;display:flex;position:absolute;top:0;bottom:0;left:0;right:0}.img-nwpk1x{cursor:zoom-out;max-width:100%;max-height:100%;box-shadow:var(--shadow-lg);transition:opacity var(--animation-timing-fast)}.img-nwpk1x.isLoading-siuKfF{opacity:0}.moreOptionsMenu-vI9av1{z-index:100;background-color:var(--color-light-bg-primary);border:var(--border-default);border-radius:var(--border-radius-sm);width:200px;padding:8px}.moreOptionsMenuItem-Wwf3d6{border-radius:var(--border-radius-sm);flex-direction:row;align-items:center;gap:12px;height:48px;padding:0 8px;display:flex}@media (hover:hover){.moreOptionsMenuItem-Wwf3d6:hover{background:var(--color-bg-secondary)}}.zIndexStyling-DPDHnw{z-index:100}
/*
     FILE ARCHIVED ON 13:11:22 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:16 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.785
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.013
  cdx.remote: 202.658
  LoadShardBlock: 1188.447 (6)
  PetaboxLoader3.datanode: 1085.362 (7)
  load_resource: 496.198
  PetaboxLoader3.resolve: 187.555
*/