.pintura-editor{--color-background:255,255,255;--color-foreground:54,55,55;--color-focus:var(--color_theme_bg_pop_rgb,0,118,255);--color-primary:var(--color_theme_bg_pop,var(--color-light-button-primary-bg));--color-primary-dark:var(--color_theme_bg_pop_darken,var(--color-light-button-primary-bg-hover));--color-primary-text:var(--color-utility-white);--color-secondary:var(--color-accent-fg-blue);--color-secondary-dark:var(--color-accent-fg-blue);--border-radius-round:var(--border-radius-sm);--border-radius:var(--border-radius-sm);--button-cursor:pointer;--font-family:var(--font-family-text);--font-size:20px}.pintura-editor .PinturaButtonLabel{font-weight:var(--font-weight-semibold);transition:var(--animate-hover);font-size:var(--font-size-14)!important}.pintura-editor .PinturaShapeStyle{gap:var(--size-4)}.pintura-editor .PinturaShapeStyle span{text-transform:capitalize}.pintura-editor .PinturaShapeStyleList{max-height:3.75em}@media (prefers-color-scheme:dark){.pintura-editor{--color-background:22,23,24;--color-foreground:238,238,238}}
/*
     FILE ARCHIVED ON 13:11:50 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:14 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.659
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 335.392
  LoadShardBlock: 1432.949 (6)
  PetaboxLoader3.datanode: 1114.022 (7)
  load_resource: 277.939
*/