.liveKitContainer-tDrfBy{background-color:var(--color-utility-black);--lk-control-bg:var(--color-bg-secondary);--lk-bg:var(--color-bg-primary);--lk-fg:var(--color-text-primary);--lk-accent-bg:var(--color-accent-primary);--lk-accent-fg:var(--color-text-on-accent)}.liveKitContainer-tDrfBy [data-lk-theme=default]{border-radius:var(--border-radius-md);padding:0}.liveKitContainer-tDrfBy .lk-username-container{display:none}.liveKitContainer-tDrfBy .lk-prejoin{width:100%;margin:0}.overlayContainer-U0SSS1{width:100%;position:relative}.faceGuide-VFnUOm{--bottom-margin:60px;top:calc(50% - calc(var(--bottom-margin)/2));z-index:1;pointer-events:none;width:auto;height:70%;position:absolute;left:50%;transform:translate(-50%,-50%)}.faceGuide-VFnUOm path{fill:none;stroke:var(--color-utility-white);stroke-width:2px;stroke-dasharray:8 4;opacity:.6}
/*
     FILE ARCHIVED ON 13:11:16 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:20 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.746
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 180.741
  LoadShardBlock: 1135.881 (6)
  PetaboxLoader3.datanode: 942.772 (7)
  PetaboxLoader3.resolve: 149.499
  load_resource: 184.12
*/