.container-_2ob3_{background-color:var(--color-bg-secondary)}.column-EQAs5c{box-shadow:var(--shadow-md);background-color:var(--color-bg-primary)}@media (min-width:550px){.column-EQAs5c{border:var(--border-default)}}.feedItem-mD9tP5{padding:0 var(--size-16)}
/*
     FILE ARCHIVED ON 13:11:25 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:15 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.732
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.013
  cdx.remote: 123.409
  LoadShardBlock: 874.772 (6)
  PetaboxLoader3.datanode: 705.762 (7)
  load_resource: 71.013
*/