.tabGroup-JMjIOW{height:var(--size-40)}.tabGroup-JMjIOW.large-uOBgTi{margin-bottom:24px}.tabGroup-JMjIOW.small-SmRAaE{margin-bottom:16px}.tab-vDUfFK{color:var(--color-fg-secondary);height:var(--size-20);padding:var(--size-8)}.tabButton-rlJuxr{height:var(--size-40);color:var(--color-fg-secondary);border-radius:0}.tabLink-_Je2nx a{color:inherit}.tabLink-_Je2nx a,.tabButton-rlJuxr{border-radius:inherit;border-bottom:2px solid transparent;padding-bottom:8px;text-decoration:none}.tab-vDUfFK{background-color:var(--color-bg-primary)}.tab-vDUfFK:hover{background-color:var(--color-bg-secondary)}.tab-vDUfFK.active-eC7E3M{color:var(--color-fg-primary)}.tabLink-_Je2nx.active-eC7E3M a,.tabButton-rlJuxr.active-eC7E3M{border-bottom:2px solid var(--color-fg-primary);border-radius:inherit}.backdrop-sruPC_{z-index:1;width:100%;height:100%;position:absolute;top:0}.toggle-zhfG5Y{z-index:1000;border-radius:var(--border-radius-sm);position:fixed;right:0}.toggleBottom-VvQP2l{bottom:100px}.toggleTop-w4wNzx{bottom:150px}.icon-hZrEKA{cursor:pointer;width:var(--size-36);height:var(--size-36);opacity:.5;padding:1px}.userToolbar-V24xP9,.siteConfigToolbar-bqH7Mr{background-color:var(--color-bg-primary);z-index:1;position:relative}.siteConfigToolbar-bqH7Mr{min-width:375px;height:400px}.loader-VCYriv,.container-I10iVL{height:100%;overflow-y:auto}.siteConfigRow-J24oiD{width:100%}.siteConfigValue-zl32cv{max-width:var(--size-112)}
/*
     FILE ARCHIVED ON 13:11:48 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:16 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.474
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 159.973
  LoadShardBlock: 1483.784 (6)
  PetaboxLoader3.datanode: 1269.716 (7)
  load_resource: 136.686
*/