
/*
     FILE ARCHIVED ON 10:32:13 Apr 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:27:58 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.288
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 52.372
  LoadShardBlock: 347.775 (6)
  PetaboxLoader3.datanode: 415.644 (7)
  load_resource: 284.223
  PetaboxLoader3.resolve: 131.18
*/